
.container-register{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    border-bottom: 1px solid var(--color-pink-light);
}
.zone-msg{
    padding: 6rem;
    color: var(--color-white);
    background-color: var(--color-sage);
}


.msg-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
   
}

.msg-register div p{
    text-align: left;
}

.register{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 20rem;

}

.register input[type="text"], .register input[type="password"]{
    height: 2.5rem;
    width: 15rem;
    padding: 6px;
    margin-bottom: .75rem;
    box-sizing: border-box;
}

.btn-register{
    background-color: var(--color-sage-dark);
    color: var(--color-white);
    border: 1px solid transparent;
    transition: .3s ease;
}

.btn-register:hover{
    border: 1px solid var(--color-pink-dark);
   
}

@media (max-width: 480px) {
    .container-register {
      grid-template-columns: 1fr;
      height: auto;
    }

    .register{
        place-items: initial;
    }

    .register, .zone-msg {
      width: 100%;
      max-width: 100%;
      padding: 1.5rem;
      text-align: center;
      
    }
  
    .msg-register {
      height: auto;
    }
  
    .register input[type="text"],
    .register input[type="password"] {
      width: 100%;
    }
  }
  

  /* Tablets (pantallas medianas) */
@media (min-width: 481px) and (max-width: 768px) {
    .container-register {
      grid-template-columns: 1fr;
      height: auto;
    }
    
    .register{
        place-items: initial;
    }
    .zone-msg,
    .register {
      padding: 2rem;
      max-width: 100%;
      text-align: center;
    }
  
    .msg-register {
      height: auto;
      align-items: center;
    }
  
    .register input[type="text"],
    .register input[type="password"] {
      width: 80%;
    }
  }
  
  /* Pantallas medianas a grandes (como laptops pequeñas) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .container-register {
      grid-template-columns: 1fr 1fr;
    }
    
    .register{
        place-items: initial;
        align-items: center;
        padding-left: 3rem;
    }
    .zone-msg {
      padding: 4rem;
    }
  
    .register input[type="text"],
    .register input[type="password"] {
      width: 90%;
    }
  }