<section class="modal-section edit-modal">
    <div class="container-modal">
        <div class="icon-close-modal" (click)="closeModal()"><i class="bi bi-x-lg"></i></div>
        <div class="modal-content">
            <h3>Modificando servicio</h3>
            <form action="">
                <div class="form-text"><label for="">Nombre de la empresa</label><input type="text" id=""></div>
                <div class="form-text"><label for="">Nombre de la empresa</label><textarea name="" id=""></textarea></div>
                <div class="form-text"><label for="">Precio base</label><input type="text" id=""></div>

                <div class="form-text btns">
                    <button type="button" (click)="closeModal()" >Cancelar</button>
                    <button class="btn-save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</section>