
<section class="modal-section edit-modal">
    <div class="container-modal">
        <div class="icon-close-modal" (click)="closeModalEdit()"><i class="bi bi-x-lg"></i></div>
        <div class="modal-content">
            <h3>Datos personales</h3>
            <form action="">
                <div class="form-text"><label for="">Nombre</label><input type="text" id=""></div>
                <div class="form-text"><label for="">Descripción</label><textarea name="" id=""></textarea></div>

                <div class="form-text btns">
                    <button type="button" (click)="closeModalEdit()" >Cancelar</button>
                    <button class="btn-save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</section>
