<div class="container-schudeles">
    <div class="schudeles-form">
        <h3>Horario en que trabaja tu empresa</h3>
        <form action="">
            <div class="form-text">
                <div class="section-day-week">
                    <div>
                        <label for="days">Elige los días en trabaja la empresa</label>
                        <select id="days" [(ngModel)]="selectDay" name="days">
                            @for (opt of options; track $index) {
                            <option [value]="opt">{{ opt }}</option>
                            }
                        </select>
                    </div>
                    <div class="box-1">
                        <div >
                            <label for="hour-morning">Turno de la mañana</label>
                            <select id="hour-morning" [(ngModel)]="fromSelectHourMorning" name="hour-morning">
                                @for (hour of hoursMorning; track $index) {
                                <option [value]="hour">{{ hour }}</option>
                                }
                            </select>
                        </div>
                        <span>Hasta</span>
                        <div>
                            <label for="hour-morning"></label>
                            <select id="hour-morning" [(ngModel)]="toSelectHourMorning" name="hour-morning">
                                @for (hour of hoursMorning; track $index) {
                                <option [value]="hour">{{ hour }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="box-2">
                        <div>
                            <label for="hour-morning">Turno de la tarde</label>
                            <select id="hour-morning" [(ngModel)]="fromSelectHourAfternoon" name="hour-morning">
                                @for (hour of hoursAfternoon; track $index) {
                                <option [value]="hour">{{ hour }}</option>
                                }
                            </select>
                        </div>
                        <span>Hasta</span>
                        <div>
                            <label for="hour-morning"></label>
                            <select id="hour-morning" [(ngModel)]="toSelectHourAfternoon" name="hour-morning">
                                @for (hour of hoursAfternoon; track $index) {
                                <option [value]="hour">{{ hour }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="btn-add">
                        <button type="button">Agregar</button>
                    </div>

                </div>
            </div>
            <div class="list-days">
                <div>
                    <p>lista de horario</p>
                    <p>lista de horario</p>
                    <p>lista de horario</p>
                </div>
            </div>
        </form>
        
        <div class="schudele">
            <app-schudele-templete></app-schudele-templete>
        </div>
    </div>
</div>