
.container-schudeles{

}
.schudeles-form{
   
    margin: auto;
}

.list-days{
    background-color: var(--color-pink-light);
    border-radius: 12px;
    padding: 6px;
    margin: 2.5rem 0rem;
}

.list-days p{
    background-color: rgb(227, 255, 246);
    height: 2rem;
    border-radius: 8px;
    padding: 4px 6px;
    margin: 3px;
    
}

.schudeles-form select{
    width: 200px;
    height: 2.2rem;
}

.section-day-week{
    display: flex;
}
.btn-add{
    height: auto;
    display: grid;
    justify-content: center;
    align-items: end;
    
}

.btn-add button{
    width: 100px;
    height: 2.5rem;
    background-color: var(--color-sage-light);
    transition: .3s ease;
}

.btn-add button:hover{
    background-color: var(--color-sage-dark);
    color: var(--color-white);
}
