<section>
  <div class="container">
    <div class="section-profile profile-grid">

      <div class="img-banner">
        <div class="img-banner-area">
          <input type="file" name="" id="image-bn">
          <label for="image-bn" class="icon-edit icon-banner icon-bg-color"><i class="bi bi-pencil-square"></i></label>
        </div>
        <div class="container-img-profile">
          <div class="img-profile"><input type="file" name="" id="image-pf"></div>
          <label for="image-pf" class="icon-edit icon-profile icon-bg-color"><i class="bi bi-pencil-square"></i></label>
        </div>

      </div>

      <div class="info-profile">
        <div class="icon-edit icon-info" (click)="openModalEditInfo()"><i class="bi bi-pencil-square"></i></div>

        <div class="info">
          <h3 class="name">José Pérez</h3>

          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iusto excepturi sapiente,
              quae amet nulla quos sit asperiores obcaecati vel possimus veniam expedita esse neque
              corrupti maiores. Omnis, autem necessitatibus.</p>
          </div>

          <div>

            <div class="btns-info-modal">
              <button type="button" (click)="showTable()">My Appointment</button>
              <!-- Botón para abrir el modal -->
              <button (click)="openModal()">Publica tu
                emprendimiento</button>
            </div>
           @if (!isHidden) {
             <div class="section-appointment-list">
              <div>
                <h2>Tabla de Productos</h2>
                <div class="btn-hidden">
                  <a (click)="hiddenTable()">Ocultar</a>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>ID de cita</th>
                      <th>Nombre del servicio</th>
                      <th>Descripción</th>
                      <th>Nombre del cliente</th>
                      <th>Precio</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Corte de cabello</td>
                      <td>Corte de cabello de estilo '7'</td>
                       <td>Bernando Fonzo</td>
                      <td>$20.00</td>
                      <td colspan="2" class="btn-table"><i class="bi bi-trash3 btn-delete"></i><i class="bi bi-pen btn-edit"></i></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Tinturado de barba</td>
                      <td>Barba tintura con tinte negro de la marca Barbiche</td>
                       <td>Francisco Osorio</td>
                      <td>$24.00</td>
                      <td colspan="2" class="btn-table"><i class="bi bi-trash3 btn-delete"></i><i class="bi bi-pen btn-edit"></i></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Corte de cabello</td>
                      <td>Corte de cabello de estilo Daddy Yankee</td>
                       <td>Julio Cedeño</td>
                      <td>$20.00</td>
                      <td colspan="2" class="btn-table"><i class="bi bi-trash3 btn-delete"></i><i class="bi bi-pen btn-edit"></i></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
           }
          </div>
        </div>
      </div>

    </div>

    @if (isShowServices) {
    <div class="section-profile">
      <div class="btns-panel-services">
        <button class="btn-selected">View my Services</button>
        <button>Edit Business Hours</button>
        <button>Edit Business Hours</button>
      </div>
    </div>

    <div class="section-profile services-content">
      <!-- Services here -->
      <h2>Servicios</h2>
      @for (item of [0,0,0,0]; track $index) {
      <app-card-services-business></app-card-services-business>
      }
    </div>
    }

    @if (isShowModalAddCompany) {
    <app-modal-register></app-modal-register>
    }

    @if (isShowModalEditProfile) {
    <app-modal-edit-profile></app-modal-edit-profile>
    }
  </div>
</section>