<section>
  <div class="container">
    <div class="section-profile profile-grid">

      <div class="img-banner">
        <div class="img-banner-area">
          <input type="file" name="" id="image-bn">
          <label for="image-bn" class="icon-edit icon-banner icon-bg-color"><i class="bi bi-pencil-square"></i></label>
        </div>
        <div class="container-img-profile">
          <div class="img-profile"><input type="file" name="" id="image-pf"></div>
          <label for="image-pf" class="icon-edit icon-profile icon-bg-color"><i class="bi bi-pencil-square"></i></label>
        </div>
        
      </div>

      <div class="info-profile">
        <div class="icon-edit icon-info"><i class="bi bi-pencil-square"></i></div>

        <div class="info">
          <h3 class="name">José Pérez</h3>
          
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iusto excepturi sapiente,
              quae amet nulla quos sit asperiores obcaecati vel possimus veniam expedita esse neque
              corrupti maiores. Omnis, autem necessitatibus.</p>
          </div>

          <div>

            <div class="btns-info-modal">
              <button>My Appointment</button>
              <!-- Botón para abrir el modal -->
              <button (click)="showModal()">Publica tu
                emprendimiento</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    @if (showServiceBusiness) {
    <div class="section-profile">
      <div class="btns-panel-services">
        <button class="btn-selected">View my Services</button>
        <button>Edit Business Hours</button>
        <button>Edit Business Hours</button>
      </div>
    </div>

    <div class="section-profile services-content">
      <!-- Services here -->
      <h2>Servicios</h2>
      @for (item of [0,0,0,0]; track $index) {
      <app-card-services-business></app-card-services-business>
      }
    </div>
    }

    @if (isShowModal) {
    <app-modal-register></app-modal-register>
    }

  </div>
</section>